Package: kylin-scanner-dbgsym
Package-Type: ddeb
Source: kylin-scanner
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: yushuoqi <shuoqi.yu@kylinos.cn>, mahailiang <hailiang.ma@kylinos.cn>
Installed-Size: 3058
Depends: kylin-scanner (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for kylin-scanner
Build-Ids: d97d0f807286af754e3f9afef4cc6cbb7cbe23a5
