Package: kylin-scanner-dbgsym
Package-Type: ddeb
Source: kylin-scanner
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: yushuoqi <shuoqi.yu@kylinos.cn>, mahailiang <hailiang.ma@kylinos.cn>
Installed-Size: 3052
Depends: kylin-scanner (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for kylin-scanner
Build-Ids: 0a8219d8c0953da2b688f59529afa70c8a430add
